.card-container {
  height: 100%;

  .mat-card {
    width: 500px;
    height: 400px;

    input {
      width: 400px;
      height: 40px;
      border: 1px gray solid;
      border-radius: 5px;

      &::placeholder {
        font-size: medium;
      }
      &:focus{
        outline: none;
      }
    }

    button {
      width: 300px;
      background-color: #3498DB;
      color: white;
      &:disabled{
        background-color: rgb(125, 191, 235);
      }
    }
    a{
      color: #3498DB;
    }
  }
}
