<div class="card-container" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxLayout="column wrap" fxLayoutAlign="space-evenly center" [formGroup]="loginForm">
    <mat-card-title>Login</mat-card-title>
    <input matInput type="text" placeholder="Email" formControlName="email">
    <input matInput type="password" placeholder="Password" formControlName="password">
    <button mat-raised-button [disabled]="loginForm.status=='INVALID'" on-click="login()">Login</button>
    <a href="">Forgot password?</a>
  </mat-card>
</div>