<div class="card-container">
  <mat-grid-list cols="3" rowHeight="3:2" gutterSize="10px">
    <mat-grid-tile *ngFor="let book of books">
      <mat-card fxLayout="row">
        <img src="{{ book.imageUrl }}" alt="" />
        <div
          class="details"
          fxLayout="column wrap"
          fxLayoutAlign="space-between start"
        >
          <div
            class="heading"
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
          >
            <h3>{{ book.title | titlecase }}</h3>
            <mat-icon id="edit-btn" (click)="edit(book)">create</mat-icon>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <p class="italics">
              <strong>Authors: </strong> {{ book.authors | titlecase }}
            </p>
          </div>
          <p>{{ book.about | slice: 0:200 }} ...</p>
          <mat-card-actions
            class="buttons"
            fxLayout="row wrap"
            fxLayoutAlign="space-around start"
          >
            <mat-icon
              id="lend-btn"
              (click)="lend(book.id)"
              matTooltip="Lend book"
              >group_add</mat-icon
            >
            <mat-icon
              id="report-btn"
              (click)="report(book.id)"
              matTooltip="Report book"
              >flag</mat-icon
            >
            <mat-icon
              id="delete-btn"
              (click)="delete(book.id)"
              matTooltip="Delete book"
              >delete</mat-icon
            >
          </mat-card-actions>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button id="add-btn" (click)="addBook()">+</button>
</div>
