.card-container {
  height: auto;
  padding: 10px;

  .mat-grid-tile {
    border-radius: 5px;
    box-shadow: rgb(197, 197, 197) 3px 4px 5px;
  }
  .mat-card {
    height: 306px;
    width: auto;
    padding: 0px;
    img {
      height: 306px;
      width: 230px;
    }
    .details {
      padding: 6px;
      width: 70%;

      .mat-card-actions{
        width: 40%;
        margin: 0px;
      }
      .heading {
        width: 100%;
      }
      h3,
      p {
        margin: 0px;
      }
      .italics {
        font-size: smaller;
        font-style: italic;
        color: gray;
      }
      .mat-icon {
        &:hover {
          cursor: pointer;
        }
      }

      #report-btn {
        color: rgb(236, 124, 72);
      }

      #delete-btn {
        color: rgb(226, 71, 66);
      }

      #edit-btn {
        color: rgb(201, 193, 192);
      }
      #lend-btn {
        color: #3498DB;
      }
    }
  }

  #add-btn {
    border: none;
    position: fixed;
    right: 80px;
    bottom: 80px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: xx-large;
    color: white;
    background-color: rgb(133, 212, 13);

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
