<div
  class="card-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="height: 70%;"
>
  <mat-card
    [formGroup]="passwordForm"
    fxLayout="column wrap"
    fxLayoutAlign="space-around"
  >
    <mat-card-title>Reset Password</mat-card-title>
    <mat-form-field>
      <input
        matInput
        placeholder="New Password"
        type="password"
        formControlName="newPassword"
      />
      <mat-error>{{ validationMessage }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Confirm Password"
        type="password"
        formControlName="confirmPassword"
      />
      <mat-error>{{ validationMessage }}</mat-error>
    </mat-form-field>
    <span *ngIf="passwordForm.errors?.match">Passwords do not match</span>
    <button
      mat-raised-button
      [disabled]="passwordForm.status === 'INVALID'"
      (click)="reset()"
    >
      Reset
    </button>
  </mat-card>
</div>
