.card-container {
  .mat-card {
    width: 500px;
    height: 350px;
  }

  button {
    width: auto;
    background-color: #3498db;
    color: white;
    &:disabled {
      background-color: rgb(125, 191, 235);
    }
  }

  span{
    color: #f44336;
    font-size: smaller;
  }
}
