.card-container {
  .mat-card {
    width: 400px;
    height: 250px;
  }

  button {
    width: auto;
    background-color: #3498db;
    color: white;
    &:disabled {
      background-color: rgb(125, 191, 235);
    }
  }
}
