<div
  class="card-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
>
  <mat-card [formGroup]="emailForm" fxLayout="column wrap" fxLayoutAlign="space-around">
    <mat-card-title>Forgot Password</mat-card-title>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter your email"
        formControlName="email"
      />
      <mat-error>{{ validationMessage }}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="disabled" (click)="send()">Send</button>
  </mat-card>
</div>
