/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error-snackbar {
  background-color: #db2c2c;
  color: white;
}

.success-snackbar {
  background-color: #1ce25e;
  color: white;
}

.warning-snackbar{
  background-color: #f8d950;
  color: white;
}
