/* You can add global styles to this file, and also import other style files */
// @import './app-theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.error-snackbar {
  background-color: #db2c2c;
  color: white;
}

.success-snackbar {
  background-color: #1ce25e;
  color: white;
}

.warning-snackbar{
  background-color: #f8d950;
  color: white;
}

button#close, button{
  font-size: 50px;
  font-weight: 100;
  border: none;
  &:focus{
    outline: none;
  }
  &:hover{
    cursor: pointer;
  }
}

#add-btn {
  border: none;
  position: fixed;
  right: 80px;
  bottom: 80px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: xx-large;
  color: white;
  background-color: rgb(133, 212, 13);

  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.mat-spinner{
  position: fixed;
  left: 50%;
}
