.mat-form-field{
  width: 250px;
}

.mat-form-field#description{
  width: 100%;
}

button#save-btn{
    font-size: 18px;
    color: #ffffff;
    background-color: #3498DB;
    padding: 7px;
    border-radius: 5px;
    &:focus{
      outline: none;
    }
    &:hover{
      cursor: pointer;
    }
    &:disabled{
      background-color: rgb(125, 191, 235);
    }
}